/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */
html {
  font-family: 'Source Sans Pro', sans-serif;
}
/* code for h1 */
h1 {
  background-image: url("../img/space-wall.jpg");
  background-repeat: repeat-x;
  color: blanchedalmond;
  line-height: 1.30201em;
  padding-top: 10%;
  padding-bottom: 5%;
  font-size: 2.25em;
  padding-left: 2%;
  text-shadow: 2px 2px black;
}
/* code for h2*/
h2 {
  background-color: #663333;
  color: blanchedalmond;
  line-height: 1.333em;
  border-radius: 0.5em;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 10%;
  font-size: 1.125em;
  margin-bottom: 2.5%;
}
/* code for main color background */
body {
  background: linear-gradient(142deg, #1f1e1e, #FFcccc 55%, #1f1e1e);
}
/* code for images */
img {
  display: block;
  max-width: 100%;
}
/* code for figcaptions and most text*/
figcaption,
.images p {
  background-color: #993333;
  color: ghostwhite;
  line-height: 1.333em;
  border-radius: 0.5em;
  padding: 1%;
  text-align: center;
}
#photo-space-box p,
#edu-box p {
  background-color: #FF9999;
  color: black;
  line-height: 1.333em;
  border-radius: 0.5em;
  padding: 1%;
}
/* code for links */
a {
  text-decoration: none;
  color: white;
}
/*Code for main-nav in all pages*/
#navigation a {
  background-color: #993333; /*blue*/
  border: 1px solid #993333;
  border-radius: 0.5em;
  display: block;
  padding: 0.65625em 0; /*10.5px/16px=.65625em    .65625em is for top and bottom, 0 is for left and right*/
  text-align: center;
  text-decoration: none;
}
#navigation a:hover {
  background: #FF9999;
}
nav a:active,
#home #nav-hom,
#resume #nav-res,
#dogs #nav-dog,
#courses #nav-cou,
#about #nav-abo,
#education #nav-edu {
  background: #FF9999;
  color: black;
}
/*Code for back button*/
#back {
  background-color: #663333; /* BACKGROUND COLOR CODE */
  border: 2px solid #FF9999;
  border-radius: 0.5em;
  font-size: 1em;
  margin-left: 70%;
  position: absolute;
  padding: 0.4em 0.6em;
  text-shadow: 1px 1px black;
}
/*Code for footer*/
footer {
  background-image: url("../img/space-wall.jpg");
  background-repeat: repeat-x;
  color: blanchedalmond;
  display: flex;
  flex-direction: column;
  line-height: 1.30201em;
  padding-top: 5%;
  padding-bottom: 5%;
}
#social-media img {
  width: 60px;
  height: 60px;
  display: block;
  margin-top: 5%;
  position: absolute;
}
#contact-info {
  font-size: 1.3em;
  color: #cc9999;
  line-height: 1.3em;
  margin-top: 20%;
  text-align: center;
}
#linked-in {
  /*margin-top: 63%;*/
  padding-left: 55%;
  filter: drop-shadow(3px 3px 2px white);
}
#github {
  /*margin-top: 63%;*/
  padding-left: 41%;
  filter: drop-shadow(3px 3px 2px black);
}
#email-icon {
  /*margin-top: 63%;*/
  padding-left: 25%;
  filter: drop-shadow(3px 3px 2px white);
}

/*Code for text in about me--maybe grid*/
#history p,
#hobbies p {
  color: ghostwhite;
  line-height: 1.3em;
  padding-top: 5%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-left: 10%;
}

/*Code for resume nav*/
#resume-list {/*ul*/
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(142deg, #1f1e1e, #FFcccc 55%, #1f1e1e);
  background-repeat: repeat-x;
}
#resume-nav li {
  flex: 1 1 34%;
  padding: .25%;
}
#resume-nav a {/*nav element*/
  background-color: #cc9999;
  border: 1px solid #993333;
  border-radius: 0.5em;
  display: block;
  padding: 0.65625em 0; /*10.5px/16px=.65625em    .65625em is for top and bottom, 0 is for left and right*/
  text-align: center;
  text-decoration: none;
  color: #993333;
}
#resume-nav a:hover {
  background: #663333;
}
/*Code for resume sections---mayb flex*/


/*Code for education nav*/
#edu-navigation {/*ul*/
  display: flex;
  flex-wrap: row wrap;
}
#edu-nav li {
  flex: 1 1 100%;
}
#edu-nav a {/*nav element*/
  background-color: #993333; /*blue*/
  border: 1px solid #cc6699;
  border-radius: 0.5em;
  display: block;
  padding: 0.65625em 0; /*10.5px/16px=.65625em    .65625em is for top and bottom, 0 is for left and right*/
  text-align: center;
  text-decoration: none;
}
#edu-nav a:hover,
#edu-nav a:active {
  background: #663333;
}
/*Code for education content*/

/*Code for courses nav*/
#course-list {/*ul*/
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(142deg, #1f1e1e, #FFcccc 55%, #1f1e1e);
  background-repeat: repeat-x;
}
#course-nav li {
  flex: 1 1 34%;
  padding: .25%;
}
#course-nav a {/*nav element*/
  background-color: #cc9999;
  border: 1px solid #993333;
  border-radius: 0.5em;
  display: block;
  padding: 0.65625em 0; /*10.5px/16px=.65625em    .65625em is for top and bottom, 0 is for left and right*/
  text-align: center;
  text-decoration: none;
  color: #993333;
}
#course-nav a:hover {
  background: #663333;
}
/*Code for courses content*/

/*Code for dogs slideshow*/
.gallery .images {
  background: linear-gradient(142deg, #1f1e1e, #FFcccc 55%, #1f1e1e);
  display: flex;
  flex-flow: row wrap-reverse;
}
.gallery .images li {
  flex: 1 1 auto;
}
.slideshow img {
  display: block;
  max-width: 100%;
}
/* State Styles */
.slideshow li {
  display: none;
}
.slideshow li.is-showing {
  display: block;
}
.images p {
  text-align: center;
}


/*start media queries*/
@media screen and (min-width: 500px) {/*--------------MEDIA QUERY-------------*/
  #main-nav {/*ul*/
    display: flex;
    flex-wrap: row wrap;
    font-size: 1.2em;
    background: linear-gradient(142deg, #1f1e1e, #FFcccc 55%, #1f1e1e);
  }
  #navigation li {
    flex: 1 1 25%;
  }
}
@media screen and (min-width: 600px) {/*--------------MEDIA QUERY-------------*/

}
@media screen and (min-width: 800px) {/*--------------MEDIA QUERY-------------*/
  #info {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
  }
  #info section {
    flex: 0 1 33.33%;
  }
  #main-content-resume {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
  }
  #main-content-resume {
    flex: 0 1 33.33%;
  }
}
@media screen and (min-width: 1000px) {/*--------------MEDIA QUERY-------------*/

}
@media screen and (min-width: 1200px) {/*--------------MEDIA QUERY-------------*/

}
@media screen and (min-width: 1400px) {/*--------------MEDIA QUERY-------------*/

}
@media screen and (min-width: 1600px) {/*--------------MEDIA QUERY-------------*/

}
