/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */
html {
  font-family: 'Source Sans Pro', sans-serif;
}
/* code for h1 */
h1 {
  background-image: url("../img/space-wall.jpg");
  background-repeat: repeat-x;
  color: blanchedalmond;
  line-height: 1.30201em;
  padding-top: 10%;
  padding-bottom: 5%;
  font-size: 3.157em;
  padding-left: 2%;
  text-shadow: 2px 2px black;
}
/* code for h2*/
h2 {
  background-color: #663333;
  color: blanchedalmond;
  line-height: 1.333em;
  border-radius: 0.5em;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 10%;
  font-size: 1.125em;
}
/* code for h3, only in resume*/
h3 {
  background-color: #993333;
  color: ghostwhite;
  border-radius: 0.5em;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 10%;
}
/* code for main color background */
body {
  background: linear-gradient(142deg, #1f1e1e, #FFcccc 55%, #1f1e1e);
}
/* code for images */
img {
  display: block;
  max-width: 100%;
}
/* code for figcaptions and most text*/
.images p {
  background-color: #993333;
  color: ghostwhite;
  line-height: 1.333em;
  border-radius: 0.5em;
  padding: 1%;
  text-align: center;
}
#photo-space-box p,
#edu-box p {
  background-color: #FF9999;
  color: black;
  line-height: 1.333em;
  border-radius: 0.5em;
  padding: 1%;
}
#photo-space-box p {
  text-align: center;
}
/* code for links */
a {
  text-decoration: none;
  color: white;
}
/*Code for main-nav in all pages*/
#navigation a {
  background-color: #993333;
  border: 1px solid #993333;
  border-radius: 0.5em;
  display: block;
  padding: 0.65625em 0; /*10.5px/16px=.65625em    .65625em is for top and bottom, 0 is for left and right*/
  text-align: center;
  text-decoration: none;
}
#navigation a:hover {
  background: #FF9999;
}
nav a:active,
#home #nav-hom,
#resume #nav-res,
#dogs #nav-dog,
#courses #nav-edu,
#about #nav-abo,
#education #nav-edu {
  background: #FF9999;
  color: black;
}
/*Code for back button*/
#back {
  background-color: #663333; /* BACKGROUND COLOR CODE */
  border: 2px solid #FF9999;
  border-radius: 0.5em;
  font-size: 1em;
  margin-left: 70%;
  position: absolute;
  padding: 0.4em 0.6em;
  text-shadow: 1px 1px black;
}
/*Code for footer*/
footer {
  background-image: url("../img/space-wall.jpg");
  background-repeat: repeat-x;
  color: blanchedalmond;
  display: flex;
  flex-direction: column;
  line-height: 1.30201em;
  padding-top: 5%;
  padding-bottom: 5%;
}
#social-media img {
  width: 60px;
  height: 60px;
  display: block;
  margin-top: 5%;
  position: absolute;
}
#contact-info {
  font-size: 1.3em;
  color: #cc9999;
  line-height: 1.3em;
  margin-top: 25%;
  text-align: center;
}
#linked-in {
  padding-left: 65%;
  filter: drop-shadow(3px 3px 2px white);
}
#github {
  padding-left: 43%;
  filter: drop-shadow(3px 3px 2px black);
}
#email-icon {
  padding-left: 20%;
  filter: drop-shadow(3px 3px 2px white);
}
/*Code for text in about me*/
#history p,
#hobbies p {
  color: ghostwhite;
  line-height: 1.3em;
  padding-top: 5%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-left: 10%;
  text-shadow: 0.5px 0.5px black;
}
/*Code for resume nav*/
#resume-list {/*ul*/
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(142deg, #1f1e1e, #FFcccc 55%, #1f1e1e);
  background-repeat: repeat-x;
}
#resume-nav li {
  flex: 1 1 34%;
}
#resume-nav a {/*nav element*/
  background-color: #cc9999;
  border: 1px solid #993333;
  border-radius: 0.5em;
  display: block;
  padding: 0.65625em 0; /*10.5px/16px=.65625em    .65625em is for top and bottom, 0 is for left and right*/
  text-align: center;
  text-decoration: none;
  color: #993333;
}
#resume-nav a:hover {
  background: #663333;
}
/*Code for resume sections---*/
#work-experience ul {
  margin-bottom: 2%;
}
#community ul {
  margin-bottom: 2%;
}
#resume h2 {
  margin-top: 2.5%;
}
#about-me,
#college-education li,
#college-awards li,
#description li {
  color: ghostwhite;
  line-height: 1.3em;
  padding-top: 2%;
  padding-right: 10%;
  padding-left: 10%;
  text-shadow: 0.5px 0.5px black;
}
#list-skills {
  color: ghostwhite;
  line-height: 1.3em;
  list-style: circle;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 3.5%;
  text-shadow: 1px 1px black;
}
.employer,
.dates {
  font-weight: bold;
}
.description {
  color: black;
  line-height: 1.3em;
  list-style: circle;
  padding-top: 2%;
  padding-left: 15%;
  padding-right: 5%;
}
#personal-info {
  background-color: #663333;
  color: blanchedalmond;
  line-height: 1.333em;
  border-radius: 0.5em;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 10%;
  font-size: 1.125em;
}
/*Code for education nav*/
#edu-navigation {/*ul*/
  display: flex;
  flex-wrap: row wrap;
}
#edu-nav li {
  flex: 1 1 100%;
}
#edu-nav a {/*nav element*/
  background-color: #993333;
  border: 3px solid #cc6699;
  border-radius: 0.5em;
  display: block;
  padding: 2.65625em 0; /*10.5px/16px=.65625em    .65625em is for top and bottom, 0 is for left and right*/
  text-align: center;
  text-decoration: none;
}
#edu-nav a:hover,
#edu-nav a:active {
  background: #663333;
}
/*Code for education content*/
#photo-space-box figcaption,
#iit-photo figcaption {
  background-color: #993333;
  color: ghostwhite;
  line-height: 1.333em;
  border-radius: 0.5em;
  padding: 1%;
  text-align: center;
}
/*Code for courses nav*/
#course-list {/*ul*/
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(142deg, #1f1e1e, #FFcccc 55%, #1f1e1e);
  background-repeat: repeat-x;
}
#course-nav li {
  flex: 1 1 34%;
  padding: .25%;
}
#course-nav a {/*nav element*/
  background-color: #cc9999;
  border: 1px solid #993333;
  border-radius: 0.5em;
  display: block;
  padding: 0.65625em 0; /*10.5px/16px=.65625em    .65625em is for top and bottom, 0 is for left and right*/
  text-align: center;
  text-decoration: none;
  color: #993333;
}
#course-nav a:hover {
  background: #663333;
}
/*Code for courses content*/

/*Code for dogs slideshow*/
.gallery .images {
  background: linear-gradient(142deg, #1f1e1e, #FFcccc 55%, #1f1e1e);
  display: flex;
  flex-flow: row wrap-reverse;
}
.gallery .images li {
  flex: 1 1 auto;
}
.slideshow img {
  display: block;
  max-width: 100%;
}
/* State Styles */
.slideshow li {
  display: none;
}
.slideshow li.is-showing {
  display: block;
}
.images p {
  text-align: center;
}
#dog-figcaption {
  background-color: #FF9999;
  color: black;
  line-height: 1.333em;
  border-radius: 0.5em;
  padding: 1%;
  text-align: center;
}
/*start media queries*/
@media screen and (min-width: 500px) {/*--------------MEDIA QUERY-------------*/
/*flex code for main navigation*/
  #main-nav {/*ul*/
    display: flex;
    flex-wrap: row wrap;
    font-size: 1.2em;
    background: linear-gradient(142deg, #1f1e1e, #FFcccc 55%, #1f1e1e);
  }
  #navigation li {
    flex: 1 1 25%;
  }
}
@media screen and (min-width: 600px) {/*--------------MEDIA QUERY-------------*/
/*flex code for course navs*/
  #course-nav li {
    flex: 1 1 32%;
  }
  main {
  padding: 5%;
  }
  #back {
    margin-top: 5%;
  }
  img {
    max-width: 80%;
    padding-left: 10%;
  }
  #course-nav li {
    flex: 1 1 32%;
  }
  #resume-nav li {
    flex: 1 1 32%;
  }
}
@media screen and (min-width: 800px) {/*--------------MEDIA QUERY-------------*/
/*flex code for about info*/
  #info {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
  }
  #info section {
    flex: 0 1 33.33%;
  }
/*grid code for resume*/
  #main-content-resume {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
      "about-grid about-grid"
      "educa-grid recog-grid"
      "skill-grid skill-grid"
      "worke-grid worke-grid"
      "commu-grid commu-grid";
  }
  #about-me {
    grid-area: about-grid;
  }
  #education {
    grid-area: educa-grid;
  }
  #recognitions {
    grid-area: recog-grid;
  }
  #skills {
    grid-area: skill-grid;
  }
  #work-experience {
    grid-area: worke-grid;
  }
  #community {
    grid-area: commu-grid;
  }
  /*grid code for courses info*/
  #courses-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "com-box cs-box"
    "econ-box hist-box"
    "ipro-box itmd-box"
    "math-box phil-box"
    "ps-box psyc-box"
    "soc-box ssci-box";
  }
  #com {
  grid-area: com-box;
  }
  #cs {
    grid-area: cs-box;
  }
  #econ {
    grid-area: econ-box;
  }
  #hist {
    grid-area: hist-box;
  }
  #ipro {
    grid-area: ipro-box;
  }
  #itmd {
    grid-area: itmd-box;
  }
  #math {
    grid-area: math-box;
  }
  #phil {
    grid-area: phil-box;
  }
  #ps {
    grid-area: ps-box;
  }
  #psyc {
    grid-area: psyc-box;
  }
  #soc {
    grid-area: soc-box;
  }
  #ssci {
    grid-area: ssci-box;
  }
  main {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 10%;
    padding-left: 10%;
  }
  img {
    max-width: 60%;
    padding-left: 20%;
  }
  footer {
    padding-top: 2%;
  }
  #linked-in {
    padding-left: 40%;
  }
  #github {
    padding-left: 28%;
  }
  #email-icon {
    padding-left: 15%;
  }
  #contact-info {
    margin-top: 15%;
    text-shadow: 3px 3px black;
  }
  #back {
    margin-top: 3%;
  }
}
@media screen and (min-width: 1000px) {/*--------------MEDIA QUERY-------------*/
/*flex code for course navs*/
  #course-nav li {
    flex: 1 1 23%;
  }
  figcaption {
    margin-left: 15%;
    margin-right: 15%;
  }
  #course-nav li {
    flex: 1 1 23%;
  }
  #resume-nav li {
    flex: 1 1 23%;
  }
  #courses-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "com-box cs-box"
    "econ-box hist-box"
    "ipro-box itmd-box"
    "math-box phil-box"
    "ps-box psyc-box"
    "soc-box ssci-box";
  }
}
@media screen and (min-width: 1200px) {/*--------------MEDIA QUERY-------------*/

}
@media screen and (min-width: 1400px) {/*--------------MEDIA QUERY-------------*/
  img {
    max-width: 40%;
    padding-left: 30%;
  }
  figcaption {
    margin-left: 25%;
    margin-right: 25%;
  }
  #main-nav a {/*nav element*/
    padding: 1.5em 0.4em;; /*10.5px/16px=.65625em    .65625em is for top and bottom, 0 is for left and right*/
  }
  #back {
    padding: 1.2em 1.6em;
  }
  #linked-in {
    padding-left: 27%;
  }
  #github {
    padding-left: 19%;
  }
  #email-icon {
    padding-left: 10%;
  }
  #contact-info {
    margin-top: 10%;
  }
}
@media screen and (min-width: 1600px) {/*--------------MEDIA QUERY-------------*/
  #courses-box {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "com-box cs-box econ-box"
    "hist-box ipro-box itmd-box"
    "math-box phil-box ps-box"
    "psyc-box soc-box ssci-box";
  }
}
